@import "reset";
@import "variables/global";

body {
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
  font-family: var(--font-family-main);
  color: var(--primary-color);
}

.app {
  display: flex;
  justify-content: center;

  background: var(--bg-color);
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  text-align: center;
}
