.Button {
  padding: 1px 3px;
  cursor: pointer;

  color: var(--primary-color);
  border-radius: 2px;
  background: none;
  border: none;

  transition: 0.4s;

  &:hover {
    opacity: 0.8;
    fill-opacity: 0.8;
    stroke-opacity: 0.8;
    scale: 1.02;
  }
}

.disabled {
  pointer-events: none;
  cursor: auto;
}

.active {
  border: 1px solid var(--tetriary-color);
}
