.TodoItem {
  display: flex;
  align-items: center;
  padding: var(--card-child-padding);

  background-color: var(--card-bg);
  border-bottom: 1px solid var(--secondary-color);

  cursor: pointer;

  svg {
    fill: var(--secondary-color);
  }

  &.completed {
    text-decoration: line-through;
    opacity: 0.5;

    svg {
      fill: var(--success-color);
    }
  }
}

.name {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.marker {
  min-height: 16px;
  min-width: 16px;
  margin-right: 15px;
}
